/* body section */
.wrapper{
    margin: 1.5em;
}
.home .home-content h3{
    font-size: 2.8em;
    padding: 5px;
    margin: 10px;
    margin-bottom: 0;
    color:rgb(20, 20, 20);
    text-shadow: 0 .3rem .5rem rgba(255, 255, 255, 0.1);
}
.home .home-content p{
    font-size: 1.4em;
    padding: 5px;
    margin: 0;
    color: rgb(50, 50, 50);
}
.click-box{
    margin: 0.2em;
    padding:.4rem 2rem;
    border:.1rem solid orange;
    cursor: pointer;
    font-size: 1.4rem;
}
#title{
    border-bottom:3px solid#405de6;
}
#title>h1{
    font-size: 1.5em;
    padding: 10px;
    margin: 0;
    display: flex;
    padding-right: 20px !important;
    border-radius: 10px 30px 0 0 !important;
}
.box-content{
    padding:0;
}
@media screen and (max-width: 560px){
    /* section */
    .wrapper{
        margin: 5px;
    }
    .home .home-content h3{
        font-size: 2em;
        margin: 5px;
        margin-bottom: 0;
    }
    .home .home-content p{
        font-size: 1em;
        padding: 0;
        margin: 0;
        color: rgb(50, 50, 50);
        margin-bottom: 0.5em;
    }
    .click-box{
        margin: 0.2em;
        padding:.3rem 1.2rem;
        border:.1rem solid orange;
        cursor: pointer;
        font-size: 0.8rem;
    }
    #title{
        border-bottom:2px solid#405de6;
    }
    #title>h1{
        font-size: 1em;
        padding: 5px;
        border-radius: 10px 30px 0 0;
    }
    
}
@media screen and (max-width: 420px){
    /* section */
    .home .home-content h3{
        font-size: 1em;
    }
    .home .home-content p{
        color: rgb(0, 0, 0);
        font-size: 0.7em;
    }
    .click-box{
        padding:.2rem 1rem;
        font-size: 0.7rem;
    }
    #title{
        border-bottom:1px solid#405de6;
        margin: 10px auto;
    }
    #title>h1{
        font-size: 0.8em;
        border-radius: 5px 20px 0 0 !important;
        padding: 5px;
    }
    
}
